name: FanCode Auto Update
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Fetch and Update Data
        run: php api/fetcher.php > live_data.json

      - name: Commit and Push Changes
        run: |
          git config --global user.name "FanCode-Ind-Bot"
          git config --global user.email "bot@fancode.com"
          git add live_data.json
          git commit -m "Auto Update: $(date)" || exit 0
          git push
          
